{{# if products}}

    <div class = "row">
        <div class = "col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3"> 
            <form action="/shopping-cart" id="dataform" method="post" >
                <ul class= 'list-group'>
                    
                    {{# each products}}
                    <li class = 'list-group-item'>
                        <span class="badge">{{this.qty}} </span>
                        <strong> {{this.item.title}} </strong>
                            <div >
                                <img src="{{this.item.imagePath}}" class="cart_img">
                            </div>
                            <div id = "inner">
                                <span class="label label-success">{{this.price}}</span>
                            </div>
                            
                            <div class="btn-group" id = "inner">
                            <button class="btn btn-primary btn-xs dropdown-toggle" type = "button" data-toggle = "dropdown"> Action <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li> <a href = "#"> Reducir Cantidad</a></li>
                                    <li> <a href = "#"> Remover </a></li>
                                </ul>
                            </div>
                            

                        
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label for="name">Nombre de quién Envia:</label>
                                            <input type="text" id="sender_name_{{@index}}" name="sender_name_{{@index}}" class="form-control" >
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label for="name">Telefono de quién Envia:</label>
                                            <input type="text" id="sender_phonenumber_{{@index}}" name="sender_phonenumber_{{@index}}"  class="form-control" >
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label >Nombre de quién Recibe:</label>
                                            <input type="text" id="recipient_name_{{@index}}" name="recipient_name_{{@index}}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label >Dirección de Entrega:</label>
                                            <input type="text" id="delivery_address_{{@index}}" name="delivery_address_{{@index}}" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label >Mensaje:</label>
                                            <input type="text" id="message_{{@index}}" name="message_{{@index}}" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label >Motivo:</label>
                                            <input type="text" id="motive_{{@index}}" name="motive_{{@index}}" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="form-group">
                                                    <label >De:</label>
                                                    <input type="text" id="from_{{@index}}" name="from_{{@index}}" class="form-control" required>
                                                </div>
                                            </div>

                                            <div class="col-xs-6">
                                                <div class="form-group">
                                                    <label for="card-expiry-year">Para:</label>
                                                    <input type="text" id="to_{{@index}}" name="to_{{@index}}" class="form-control" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="form-group">
                                                    <label >Hora de Entrega:</label>
                                                    <input type="text" id="delivery_time_{{@index}}" name="delivery_time_{{@index}}" class="form-control" required>
                                                </div>
                                            </div>

                                            <div class="col-xs-6">
                                                <div class="form-group">
                                                    <label >Teléfono:</label>
                                                    <input type="text" id="phone_number2_{{@index}}" name="phone_number2_{{@index}}" class="form-control" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label for="card-cvc">Comentarios:</label>
                                            <input type="text" id="comments_{{@index}}" name="comments_{{@index}}" class="form-control" required>
                                        </div>
                                    </div>
                                </div>                    
                        </li>
                    {{/each}}

                    <div class = "row" id = "price">
                        <div class = "col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
                            <strong>Total: $ {{ totalPrice}} </strong>
                        </div>
                    </div>

                    <button id = "inner" type="submit" class="btn btn-success" >Enviar Datos</button>
                
            </ul>
            </form>
        </div>
    </div>

    

    <hr>

    <div class="row">
        <div class="col-xs-12">
            <div class="row" id = "inner">
                <div class="col-xs-6">
                    <div class="form-group">
                        <a href="/" type = "button" class = "btn btn-success">Seguir Comprando</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{{else}}

    <div class = "row">
        <div class = "col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <h2>El Carrito está vacío</h2>
        </div>
    </div>

{{/if}}

<script type = "text/javascript" src="javascripts/shopping-cart.js"></script>


